header{
    width: 100%;
    text-align: center;
    font-size: large;
    background-color: blue;
    color: white;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}