mat-form-field {
    width: 99%;
    margin-bottom: 20px;
    margin-left: 8px;
  }
  
  mat-error {
    color: red;
  }
  
  h4{
    margin-top: 2%;
    text-align: center;
  }

  .container{
    align-items: center;
  }
  button{
    border-radius: 2px;
    
    width: 20%;
    margin-bottom: 20px;
    margin-left: 40%
  }