<h4>Register User</h4>
<div class="container">
<form [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="username" required>
    <mat-error *ngIf="registrationForm.get('username')?.errors?.['required']">Name is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required>
    <mat-error *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required</mat-error>
    <mat-error *ngIf="registrationForm.get('email')?.errors?.['email']">Invalid email format</mat-error>
    
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required>
    <mat-error *ngIf="registrationForm.get('password')?.errors?.['required']">Password is required</mat-error>
    <mat-error *ngIf="registrationForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Bio</mat-label>
    <input matInput formControlName="bio" required>
    <mat-error *ngIf="registrationForm.get('bio')?.errors?.['required']">bio is required</mat-error>
    <mat-error *ngIf="registrationForm.get('bio')?.errors?.['minlength']">bio must be at least 10 characters</mat-error>
  </mat-form-field>

  <button  mat-button color="primary" type="submit" [disabled]="registrationForm.invalid">Register</button>
</form>
</div>